<div class="horizontal-container">
        <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Usuario" [(ngModel)]="usuario"/>
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Password" [(ngModel)]="password"/>
                </mat-form-field>
        </div>
        <div class="button-row">
        <button mat-fab color="primary" (click)="ValidarUsuario()">LogIn</button>
        </div>
</div>
