<div class="horizontal-container">
        <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Usuario" [(ngModel)]="usuario"/>
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Password" [(ngModel)]="password"/>
                </mat-form-field>
        </div>

        <button class="boton" (click)="ValidarUsuario()">Login</button>
</div>
